<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Login</span>
      </a>
      <a mat-list-item>
        <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
      </a>
      <a mat-list-item>
        <mat-icon class="icon">dashboard</mat-icon>
        <span class="label">Dashboard</span>
      </a>
      <a  mat-list-item type="button">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">LogOut</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a>
          Praticando Angular
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a>
              <mat-icon class="icon">input</mat-icon>
              <span  class="label">Login</span>
            </a>
          </li>
          <li>
            <a >
              <span class="mdi mdi-feather"></span>
              <span class="label">Home</span>
            </a>
          </li>
          <li>
            <a>
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label">Dashboard</span>
            </a>
          </li>
          <li>
            <a>
              <mat-icon class="icon">input</mat-icon>
              <span class="label">LogOut</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main class="content">
      <section id="services">
        <div class="text-center">
          <h2 class="title-page">Serviços</h2>
          <p class="lead w-50 text-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero reprehenderit. </p>
          <mat-grid-list cols="4" rowHeight="1:1">
            <mat-grid-tile>
              <mat-card class="example-card">
                <div class="text-center"><span id="footer-icon" class="mdi mdi-code-tags mdi-96px"></span></div>
                <div>
                  <p> blablabla code</p>
                  <p> blablabla code</p>
                  <p> blablabla code</p>
                </div>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card class="example-card">
                <span id="footer-icon" class="mdi mdi-gitlab mdi-96px"></span>
                <div>
                  <p> blablabla git</p>
                  <p> blablabla git</p>
                  <p> blablabla git</p>
                </div>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card class="example-card">
                <span id="footer-icon" class="mdi mdi-podium mdi-96px"></span>
                <div>
                  <p> blablabla pódio</p>
                  <p> blablabla pódio</p>
                  <p> blablabla pódio</p>
                </div>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card class="example-card">
                <span id="footer-icon" class="mdi mdi-database mdi-96px"></span>
                <div>
                  <p> blablabla banco de dados</p>
                  <p> blablabla banco de dados</p>
                  <p> blablabla banco de dados</p>
                </div>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </section>
      <section id="game">
        <div class="text-center">
          <h2 class="title-page">Jogos</h2>
          <p class="lead w-50 text-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero reprehenderit. </p>
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Steam">
                <div class="text-center"><span id="footer-icon" class="mdi mdi-steam-box mdi-96px"></span></div>
                <div>
                  <p> blablabla steam</p>
                  <p> blablabla steam</p>
                  <p> blablabla steam</p>
                </div>
            </mat-tab>
            <mat-tab label="Battle.net">
              <div class="text-center"><span id="footer-icon" class="mdi mdi-battlenet mdi-96px"></span></div>
              <div>
                <p> blablabla battle.net</p>
                <p> blablabla battle.net</p>
                <p> blablabla battle.net</p>
              </div>
             </mat-tab>
            <mat-tab label="PSN">
              <div class="text-center"><span id="footer-icon" class="mdi mdi-playstation mdi-96px"></span></div>
              <div>
                <p> blablabla playstation</p>
                <p> blablabla playstation</p>
                <p> blablabla playstation</p>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </section>
      <section id="recent-work">
      </section>
      <section id="contact">
      </section>
    </main>
    <footer>
      <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile>
          <p>Yan Tapajós</p>
          <p>2019</p>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
          <a href="#"><span id="footer-icon" class="mdi mdi-linkedin-box mdi-36px"></span></a>
          <a href="#"><span id="footer-icon" class="mdi mdi-facebook-box mdi-36px"></span></a>
          <a href="#"><span id="footer-icon" class="mdi mdi-instagram mdi-36px"></span></a>
          <a href="#"><span id="footer-icon" class="mdi mdi-steam-box mdi-36px"></span></a>
          <a href="#"><span id="footer-icon" class="mdi mdi-github-box mdi-36px"></span></a>
          <a href="#"><span id="footer-icon" class="mdi mdi-discord mdi-36px"></span></a>
        </mat-grid-tile>
      </mat-grid-list>
    </footer>


  </mat-sidenav-content>
</mat-sidenav-container>
