mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
  }
  
  mat-sidenav {
    width: 250px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover,
  a:active {
    color: lightgray;
  }
  
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 30px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
  }
  
  .label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    width: 85%;
  }

  mat-grid-tile {
    height: 30px;
  }

  a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.mat-drawer-container{
  background-color: #fff;
}

.title-page{
  font-size:3rem;
  margin-bottom:1rem!important;
  margin-top:0!important;
}
.w-50{
    width: 50%;
    margin: 0 auto;
}

.mdi-96px{
  font-size: 96px;
}

.example-card {
  width: 250px;
  max-width: 350px;
  height: 260px;
}


.text-title{
  padding-bottom: 20px;
}