.dotContainer:before{
    content: '';
    position: absolute;
    border-radius: 10px;
    width: 1em;
    height: 1em;
    background: black;
    margin-left: -20px;
}

.dotContainer{
    content: '';
    background: blue;
}


